# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Environment file
.env

# Private Barnes files
private
serverless.yml
src/app/interfaces/acmeReport.interface.ts
private.zip